/* Colors */
:root {
  --black: #000000;
  --cornflower-lilac: #ffaea9;
  --salmon: #ff7b73;
  --white: #ffffff;
  --your-pink: #ffcccc;
}

.input-component {
  font-size: 16px;
}

.c-checkbox {
  display: none;
}

.c-formContainer .c-form {
  width: 37.5em;
}

.c-formContainer .c-form__toggle {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
}

.c-formContainer .c-form__input,
.c-formContainer .c-form__buttonLabel {
  transition: 0.2s 0.1s;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
  content: "Thank You! 😊";
}

.c-formContainer .c-form__input:required:valid ~ .c-form__toggle {
  pointer-events: none;
  cursor: default;
}

.c-formContainer,
.c-form,
.c-form__toggle {
  width: 20em;
  height: 6.25em;
}

.c-formContainer {
  position: relative;
  font-weight: 700;
}

.c-form,
.c-form__toggle {
  position: absolute;
  border-radius: 6.25em;
  background-color: var(--white);
  transition: 0.2s;
}

.c-form {
  left: 50%;
  transform: translateX(-50%);
  padding: 0.625em;
  box-sizing: border-box;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.c-form__toggle {
  color: var(--salmon);
  top: 0;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-form__toggle::before {
  font-size: 1.75em;
  content: attr(data-title);
}

.c-form__input,
.c-form__button {
  font: inherit;
  border: 0;
  outline: 0;
  border-radius: 5em;
  box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
  font-size: 1.75em;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
  transition: 0s;
}

.c-form__input {
  color: var(--your-pink);
  height: 100%;
  width: 100%;
  padding: 0 0.714em;
}

.c-form__input::placeholder {
  color: currentColor;
}

.c-form__input:required:valid {
  color: var(--salmon);
}

.c-form__input:required:valid + .c-form__buttonLabel {
  color: var(--white);
}

.c-form__buttonLabel {
  color: var(--cornflower-lilac);
  height: 100%;
  width: auto;
}

.c-form__button {
  color: inherit;
  padding: 0;
  height: 100%;
  width: 5em;
  background-color: var(--salmon);
  cursor: pointer;
}
