@import url("https://fonts.googleapis.com/css2?family=Cabin&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit&family=Playfair:opsz,wght@5..1200,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap");

body {
  font-family: "Shadows Into Light", cursive !important;
}

/* App.css */

/* Google Fonts linki */
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

body {
  font-family: "Shadows Into Light", cursive;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to right,
    #ff7e5f,
    #feb47b
  ); /* Renkli arka plan */
}

.App {
  text-align: center;
  width: 100%;
}

.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 4rem;
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.description {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 30px;
  max-width: 600px;
  line-height: 1.5;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.start-button {
  font-size: 2rem;
  padding: 15px 30px;
  border: none;
  background-color: #ff6347;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.start-button:hover {
  background-color: #e55347;
  transform: scale(1.1);
}

.question-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.question {
  font-size: 2.5rem;
  color: #333;
  animation: fadeIn 1s ease-in-out;
}

/* Sorunun ekrana gelme animasyonu */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
